/* components/PasswordInput/PasswordInput.css */

.password-group {
  position: relative;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* Space for the icon */
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #4a5568;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.password-toggle-icon:hover {
  color: #38b2ac;
}
